html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#sidebar {
    background-color: #64c6b7;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}